.screen {
  display: flex;
  flex-direction: row;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}

.pageContent {
  display: flex;
  flex-direction: row;
  flex: 1;
  background-color: rgba(194, 194, 194, 0.295);
}

.sidebar {
  min-width: 200px;
}

.page {
  width: 100%;
  margin: 20px;
  background-color: rgb(255, 255, 255);
  padding: 35px;
}
