.topMenuParent {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  align-items: center;
  border-bottom: solid rgb(233, 231, 231) 1px;
}

.topMenuRightSection {
  display: flex;
  gap: 20px;
}

.mainMenuItem:hover {
  cursor: pointer;
  color: rgb(151, 139, 139);
}
